/* -------------form------------------- */
.form {
  position: absolute;
  height: 60%;
  width: 90%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 20px #0055D4;
  z-index: -1;
}

.form > label,
input, select {
  position: absolute;
}

#form__number__label {
  top: 32%;
  left: 23%;
  transform: translate(-50%, -70%);
  font-size: small;
}

#form__number {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -70%);
  border: 1px solid gainsboro;
  border-radius: 5px;
  width: 80%;
  height: 7%;
}

#form__number:focus {
  outline: none !important;
  border: 1px solid #0055D4;
  border-radius: 5px;
  /* border: 10px solid red; */
  box-shadow: 0 5px 10px gainsboro;
}

#form__name__label {
  top: 52%;
  left: 23%;
  transform: translate(-50%, -70%);
  font-size: small;
}

#form__name {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -70%);
  border: 1px solid gainsboro;
  border-radius: 5px;
  width: 80%;
  height: 7%;
}

#form__name:focus , #form__month:focus, #form__year:focus, #form__cvv:focus {
  outline: none !important;
  border: 1px solid #0055D4;
  border-radius: 5px;
  /* border: 10px solid red; */
  box-shadow: 0 5px 10px gainsboro;
}

#form__expiry__label{
  top: 72%;
  left: 23%;
  transform: translate(-50%, -70%);
  font-size: small;
}

#form__month {
  top: 80%;
  left: 20%;
  transform: translate(-50%, -70%);
  border: 1px solid gainsboro;
  border-radius: 5px;
  width: 20%;
  height: 7%;
}


#form__year {
  top: 80%;
  left: 45%;
  transform: translate(-50%, -70%);
  border: 1px solid gainsboro;
  border-radius: 5px;
  width: 20%;
  height: 7%;
}

#form__cvv__label{
  top: 72%;
  right: 23%;
  transform: translate(0%, -70%);
  font-size: small;
}


#form__cvv {
  top: 80%;
  right: 9%;
  transform: translate(0%, -70%);
  border: 1px solid gainsboro;
  border-radius: 5px;
  width: 20%;
  height: 7%;
}

.form__submit{
  position:absolute;
  width:80%;
  height:7%;
  bottom:5%;
  left:50%;
  transform:translate(-50%,0);
  /* outline: none !important; */
  border: 1px solid #0055D4;
  border-radius: 5px;
  background:#0055D4;
  color:white;
  /* border: 10px solid red; */
}

.form__submit:hover{
  box-shadow: 0 5px 10px gainsboro;
  cursor:pointer;
}


/* Remove Increment and Decrement arrows from Number input field */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}